@import '../../variables.scss';

.dashboard {
  display: flex;
  justify-content: space-between;
  height: 100%;

  &__table-wrap {
    flex-grow: 1;
    margin: 18px $global-padding;

    .table {
      width: 100%;
      height: calc(100% - 80px + 20px);
      text-align: left;
      line-height: 29px;

      tr {
        border: 1px solid $grey-light-2;
      }

      tr {
        cursor: pointer;
      }

      th, td {
        padding: 10px 20px;
      }

      td:last-child {
        text-align: right;
      }

      a {
        color: $blue-dark;
        vertical-align: middle;

        &:hover {
          text-decoration: underline;
        }

        .svg-inline--fa {
          font-size: 22px;
          padding-top: 6px;
        }
      }

      &__caption {
        display: flex;
        justify-content: space-between;
        margin: 15px 20px;

        .svg-inline--fa {
          font-size: 25px;

          &.fa-map {
            font-size: 20px;
          }
        }
      }

      &__head {
        &__filters th {
          padding: 0;
        }
        &__column-names {
          font-size: 14px;
        }
      }

      &__body {
        font-size: 14px;
        color: $grey-dark;

        &__row {
          height: 50px;
        }
      }
    }
  }

  .google-map {
    flex-basis: 600px;
    margin: 20px 20px 20px 0;
    padding-top: 55px;
  }
}
