@import '../../variables.scss';

.estate {
  > h2, > h3, > h5 {
    margin: 0 $global-padding;
  }

  > h3 {
    margin-bottom: 12px;

    .fa-building {
      font-size: 26px;
    }
  }

  &__content {
    margin: 20px $global-padding 0;

    &__filters {
      border: 1px solid $grey-light-2;
    }
    &__maps {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 30px;
      margin-top: 20px;
    }
  }

  .icon-weather {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
}
