@import '../../variables.scss';

.header {
  display: flex;
  align-items: center;
  color: $blue-dark;
  width: 100%;
  height: $header-height;
  border-bottom: 2px solid $grey-light-2;
  background-color: $white;

  &__logo {
    margin: 0 $global-padding;
    width: 52px;
    height: 52px;
    background: url('/images/logo.png') no-repeat;
    background-size: 52px;
  }

  &__tab {
    font-size: 16px;
    padding: 33px 39px 26px;
    color: $blue-bright;
    border-left: 2px solid $grey-light-2;
    border-bottom: 5px solid $blue-bright;
  }
}
